{% extends 'base.html' %}

{% block title %}Your lists{% endblock title %}

{% block modal %}
{% for list in object_list %}
<div class="modal" id="mainModal{{ list.pk }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete list: {{ list.name }}</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'delete-list' list.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Yes, delete it" class="btn btn-danger">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock modal %}

{% block contents %}

{% for list in object_list %}
<div class="card">
    <div class="card-header">
        {{ list.name }}
        <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#mainModal{{ list.pk }}"></button>
    </div>
    <ul class="list-group">
        {% for entry in list.entries.all %}
        <li class="list-group-item">
            {{ entry.text }}
            <form action="{% url 'delete-entry' entry.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Remove">
            </form>
        </li>
        {% endfor %}
    </ul>
    <div class="card-footer">
        <form action="{% url 'add-entry' %}" method="post">
            {% csrf_token %}
            {{ list.make_form }}
            <input type="submit" value="Add" class="btn btn-success">
        </form>
    </div>
</div>
{% endfor %}

{% endblock contents %}